*{
    margin: 0px;
    padding: 0px;
}
.blog{
    padding: 20px;
    background-color: green;
}

a{
    text-decoration: none;
}
header{
    background-color: rgb(64, 58, 58);
    padding: 20px 0px;
}
.logo{
    width: 150px;
    color: aliceblue;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item a{
    color: aliceblue;
    margin-right: 20px;
    font-size: 20px;
}
.banner{
    background-image: url("./images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    height: 100vh;
}
.hero-inf{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 200px;
}
.hero-text h1{
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.hero-text p{
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin: 20px 0px;
}

.hero-text button{
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 5px;
}

.about h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    padding-top: 30px;
}
.about-content{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.about-text h2{
    font-size: 40px;
    font-weight: 600;
}

.about-text p{
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0px;
}
.about-text button{
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 5px;
}

.service{
    background-image: url('./images/background.png'),linear-gradient(45deg,rgb(5, 5, 5), #2e2e2e);
    color: white;
    padding: 50px 0px;
}
.title{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
.services-content{
    display: flex;
    justify-content: space-around;
    margin-top: 50px
}
.services-box{
    max-width: 230px;
    height: 300px;
    background-color: #2e2e2e;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 5px #867171;
    border-radius: 10px;
}
.services-box h4{
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0px;
}

.services-box p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.services-box button{
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 10px 20px;
    background-color: gray;
    border: none;
    border-radius: 5px;
}
.services-box img{
    width: 80px;
}

footer{
    background-color: #303030;
    padding: 100px 0px;
    color: aliceblue;
    height: 300px;
}
footer img{
    width: 180px;
}
.footer-content{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.footer-text{
    margin: 0px 50px;
}
.footer-text h5{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer-text p{
    font-size: 20px;
    margin-top: 30px;
}
.footer-text a{
    color: white;
    display: block;
    font-size: 18px;
    padding: 7px 0px;
}
.sub-title{
    margin-bottom: 20px;
}
span{
    display: block;
    padding: 5px 0px;
    font-size: 18px;
}
hr{
    width: 1200px;
    margin-left: 160px;
}
